<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Your Snippets</h1>

    <h2>Edit This Snippet</h2>
    <br>
      <form action="/snippets/edit/:id" method="POST">
        
        <input type="hidden" name="_method" value="patch">

        <label> Enter New Snippet Name:</label>
        <input id="snippet_name" type="text" name="snippet_name"><br>

        <label> Enter New Snippet Text:</label>
        <input id="snippet_text" type="text" name="snippet_text"><br>

        <br>
        <input class="btn btn-primary" type="submit" value="submit">

      </form>
</div>
