<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Snippets</h1>
    <<h2>Create a New Snippet</h2>
      <form action="/snippets" method="POST">
        <p>Status: <input type="text" name="content"></p>
        <input class="btn btn-primary" type="submit" value="submit">
      </form>
</div>
