<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Snippets</h1>
    <p>Create a New Snippet<p>
    <div>
      <form action="/snippets" method="POST">
        <table><tbody>
           <tr>
           <td width="150">NEW Category Name:</td>
           <td width="300"><input id="snippet_category" type="text" name="snippet_category"><br></td>
           </tr>
           <tr>
           <td width="150">NEW Snippet Name:</td>
           <td width="300"><input id="snippet_name" type="text" name="snippet_name"><br></td>
           </tr>
           <tr>
           <td width="150">NEW Snippet Text:</td>
           <td width="300"><input id="snippet_text" type="text" name="snippet_text"><br></td>
           </tr>
           <tr>
           <td width="250"><br><input class="btn btn-primary" type="submit" value="Submit"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <td width="250"><br><a href="/snippets"><button class="btn btn-primary">Cancel</button></a></td>
</div>
</div>
