<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Snippets</h1>
    <p>Here is the current list of All Snippets.</p>
  </div>
  <form action="/logout" method="post">
    <input type="submit" value="Log Out" class="btn btn-outline-secondary" type="button">
  </form>
</div>
#<a href="/snippets/<%= @snippet.id%>/edit">Edit this snippet</a>
