/* general styles */
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

/* padded section */
.pad-section {
  padding: 50px 0;
}
.pad-section img {
  width: 100%;
}

/* vertical-centered text */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.text-vcenter h1 {
  font-size: 4.5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}


#home {
  background: url(../images/home_bg.jpg) no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#about {
}

#categories {
  background: url(../images/working.jpg) no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#categories .panel {
  opacity: 0.85;
}

footer {
  padding: 20px 0;
}
footer .glyphicon {
  color: #333333;
  font-size: 60px;
}
footer .glyphicon:hover {
  color: #306d9f;
}
/* For Login Register Page */
.login_body {
  margin-top: 50px;
  position: relative;
  min-height: 200px;
  padding: 50px;

}
.modal-body {
  margin-left: 20px;
  position: relative;
  padding: 50px;
  font-size: 15px;
  line-height: 1.5;
}
/*Flash Message*/
#flash {
  background-color: #ffe97e;
  height: 40px;
  padding: 10px;
  font-size: 15px;
}
