<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>New User Registration Errors</h2>
    <p>Here is the list of errors. Please correct.</p>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
<a href="/login"><button class="btn btn-primary">GO BACK</button></a>
</div>
</div>
