<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>New User Registration Errors</h1>
    <p>Here is the list of errors. Please correct your errors.</p>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
</div>
</div>
