<div class="jumbotron">
  <div class="row">
    <div class="col-sm-8">
      <h1>Log In</h1>
      <form class="form" action="/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password</label>
        <input type="password" name="password">
        <br>
        <input class="btn btn-primary submit-btn" type="submit" value="Log In">
      </form>
    </div>
    <div class="col-sm-4">
      <p>Don't have an account?</p>
      <a href="/signup" class="btn btn-outline-secondary" role="button">
        Sign Up
      </a>
    </div>
  </div>
</div>
