<div class="flash">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>
<body class="login_body">
<div class="container">
  	<div class="row">
          <div class="span12">
      		<div class="" id="loginModal">
                <div class="modal-header">
                  <h3>Login / Register</h3>
                </div>

                <div class="modal-body">
                  <div class="well">
                    <ul class="nav nav-tabs">
                      <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
                      <li><a href="#create" data-toggle="tab">Create Account</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div class="tab-pane active in" id="login">

                        <form class="form-horizontal" action='/login' method="POST">
                          <fieldset>

                            <div class="control-group">
                              <!-- Username -->
                              <label class="control-label"  for="username">Username</label>
                              <div class="controls">
                                <input type="text" id="username" name="username" placeholder="" class="input-xlarge">
                              </div>
                            </div>

                            <div class="control-group">
                              <!-- Password-->
                              <label class="control-label" for="password">Password</label>
                              <div class="controls">
                                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                              </div>
                            </div>


                            <div class="control-group">
                              <!-- Button -->
                              <div class="controls">
                                <button class="btn btn-success">Login</button>
                              </div>
                            </div>
                          </fieldset>
                        </form>

                      </div>
                      <div class="tab-pane fade" id="create">

                        <form id="tab" action='/register' method="post">
                          <br>
                          <label for="username">Username</label>
                          <input type="text" class="input-xlarge" name="user[username]">
                          <br>
                          <label>First Name</label>
                          <input type="text" class="input-xlarge" name="user[first_name]">
                          <br>
                          <label>Last Name</label>
                          <input type="text" class="input-xlarge" name="user[last_name]" >
                          <br>
                          <label>Password</label>
                          <input type="password" class="input-xlarge" name="user[password]">
                          <br>
                          <label>Confirm Password</label>
                          <input type="password" class="input-xlarge" name="user[password_confirmation]" >

                      <div>
                            <button class="btn btn-primary">Create Account</button>
                          </div>
                        </form>
                      </div>
                  </div>
                </div>
              </div>
          </div>
  	</div>
  </div>
</body>
