<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Object-Oriented Programming</h1>

    <p>Future Development -
      Read about topic and list all snippets related to this
      category.
      </p>
   </div>
 </div>
