<!-- Home section -->
<div id="home" class="home">
  <div class="text-vcenter">
    <h1>My Study Snippets</h1>
    <h3>In Development - Available End of September 2018</h3>

<!--TO DO:  CHANGE BUTTON FUNCTIONALITY
    <a href="#about" class="btn btn-default btn-lg">Login</a>
    <a href="#about" class="btn btn-default btn-lg">Sign Up!</a>
-->
  </div>
</div>

<!-- /Home section -->

<!-- About section -->
<div id="about" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <img src="images/logo.png" alt="" />
      </div>
      <div class="col-sm-7 text-left">
        <h2>Feed your brain, train your mind!</h2>
        <p class="lead">A little app to help you take quick snippets of various topics.</p>
      </div>
    </div>
  </div>
</div>
<!-- /About section -->


<!-- Categories section-->
<div id="categories" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Object-Oriented Programming</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            ligula varius dui, quis amet.
            <a href="/categories">Read More...</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">SQL</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            ligula varius dui, quis amet.
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">Ruby</h2>
          </div>
          <div class="panel-body lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           ligula varius dui, quis amet.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
