<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8" />
  <title>Study Snippets</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <!-- CSS FILES -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="<%= url('/stylesheets/style.css') %>" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="<%= url('/images/favicon_ec.ico') %>" rel="icon" />
</head>
<body>

  <!-- navigation bar -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">My Study Snippets</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
           <li><a href="#categories">Categories</a></li>
           <li><a href="#contact">Contact</a></li>
           <li><a href="/login">Login</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


<%= yield %>


  <!-- Contact section -->
  <div id="contact">
         <div class="container">
             <div class="row" class="call-to-action">
                 <div class="col-lg-8 col-lg-offset-2 text-center">
                     <h2 class="section-heading">Get In Touch!</h2>
                     <hr class="primary">
                 </div>
                 <div class="col-lg-2 col-lg-offset-2 text-center">
                     <a href="https://github.com/edb-c" class="fa fa-github-alt" style="font-size:30px;color:green;" target="_blank"></a>
                 </div>
                 <div class="col-lg-2  text-center">
                     <a href="www.linkedin.com/in/ethelcofresi" class="fa fa-linkedin fa-3x wow bounceIn" style="font-size:30px;color:green;" target="_blank"></a>
                 </div>
                 <div class="col-lg-2 text-center">
                     <a href="www.new.ethelcofresi.com" class="fa fa-file-pdf-o" style="font-size:30px;color:green;"></a>
                 </div>
                 <div class="col-lg-2 text-center">
                     <a href="mailto:cofresi.ethel@gmail.com" class="fa fa-envelope-o fa-3x wow bounceIn" style="font-size:30px;color:green;" target="_blank"></a>
                 </div>
             </div>
         </div>
     </div>
  <!-- footer -->
  <footer>
    <hr />
    <div class="container">

      <p class="text-right">&copy; E.Cofresi 2018</p>
    </div>
  </footer>
  <!-- /footer -->

  <!-- attach JavaScripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="<%= url('/javascripts/bootstrap.js') %>"></script>
</body>
</html>
